html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --wite-color: #ffffff;
  --dark-color: #212121;
  --transparent: rgba(255, 255, 255, 0.6);
  --fon-button: F5F4FA;
}

.page {
  background-color: var(--wite-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  position: relative;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flexbox {
  display: flex;
}

.page-header .flexbox {
  align-items: center;
}

.page-header {
  margin-right: auto;
  margin-left: auto;
}

.mhh.link {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.logo.current {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.margin {
  margin-bottom: 20px;
}

.margin-botton {
  padding-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
}

.logo.current .logoacc {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.fon .logodark {
  color: var(--wite-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .margin-header + .margin-header {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--dark-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info:hover {
  color: var(--accent-color);
}
.info-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 9px;

  text-decoration: none;
}

.proba {
  display: flex;
  align-items: center;

  /* align-content: space-between; */
}

.button-info {
  display: flex;
  align-items: center;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.button-info-tel {
  display: flex;
  align-items: center;
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.tel {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.tel:hover {
  color: var(--accent-color);
}

/* второй */

.sec {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.secc {
  padding-bottom: 94px;
}

.flex {
  display: flex;
}

.site.mh + .mh {
  margin-left: 50px;
}

/* герой */
/* 1111111111111111111111111 */
/* .container-one {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

.hero.container-hero {
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  max-height: 600px;

  background: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herogo.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  color: var(--wite-color);
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* padding: 200px 452px 280px; */
}

/* четыре в ряд */

.container {
  width: 1170px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: flex;
}

.zzz {
  width: calc((100% - 30px * 3) / 4);
}

.zzz:not(:last-child) {
  margin-right: 30px;
}

.zzz.list-item::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.zzz.list-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.zzz.list-item:nth-child(2)::before {
  background-image: url(../images/clock-1.svg);
}

.zzz.list-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.zzz.list-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.paragraf {
  display: contents;
  width: 270px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* шапка */

.site-nav {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.page-header .flexbox {
  align-items: center;
  justify-content: flex-end;
}

.page-header .info {
  margin-right: 40px;
}

/* чем мы занимаемся */

.rob:not(:last-child) {
  margin-right: 30px;
}

.rob {
  display: flex;
  position: relative;
}

.annexes {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

/* наша команда */

.button-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 16px;
}

.li-button:not(:last-child) {
  margin-right: 10px;
}

.href-button {
  background-color: FFFFFF;
  width: 44px;
  height: 44px;
  padding: 12px;
  display: flex;
  border: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.href-button:hover {
  background-color: var(--accent-color);
}

.href-button:hover .svg-button {
  fill: var(--wite-color);
}

.svg-button {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.four {
  width: calc((100% - 30px * 3) / 4);
  width: 270px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-one.f.sec {
  background-color: #f5f4fa;
}

.section-one.f.margin-botton {
  background: #f5f4fa;
  padding-top: 94px;
}

.bgc {
  background-color: #f5f4fa;
}

.four:not(:last-child) {
  margin-right: 30px;
}

.li-icon {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.six-link {
  margin: 0;
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.logo-link {
  display: flex;
  margin: 0;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-one {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.logo-two {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.logo-three {
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.logo-four {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.logo-five {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.logo-six {
  width: 88px;
  height: 45px;
  fill: currentColor;
}

.logo-link:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* футер */

.fon {
  background: #2f303a;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 231px;
}

.section .section-subtitle {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 26px;
  margin-top: 0;
}

.section .section-sub {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  width: 270px;
}

.liniya {
  text-decoration: none;
  border: none;
}

.section-title {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;

  margin-top: 0;
  text-align: center;
}

/* .section-title-const {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;

  margin-top: 0;
  text-align: center;
} */

.section-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  font-style: normal;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;

  color: var(--dark-color);
}

.section-titles {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  padding-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
  margin: 0;
  text-decoration: none;
}

.section .section-en {
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  margin-bottom: 0px;
  margin-top: 0;

  font-style: normal;
  font-weight: normal;

  letter-spacing: 0.03em;

  color: #757575;
}

.hero-button {
  color: var(--wite-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;

  margin-bottom: 200px;

  /* width: 200px;
  height: 50px; */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.container-button .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  background: #f5f4fa;

  border-radius: 4px;
  border: none;
}

.container-button .button:not(:last-child) {
  margin-right: 30px;
}

.addres {
  color: var(--wite-color);
  margin-bottom: 9px;
  margin-top: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.margin-nav .info-footer {
  color: var(--transparent);
  margin-bottom: 9px;
}

.margin-nav {
  width: 231px;
}

.button {
  display: inline-flex;
  color: var(--dark-color);
  background-color: var(--fon-button);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
}

.job {
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 0px;
  margin-top: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  letter-spacing: 0.03em;
  color: #757575;

  padding-left: 24px;
  margin-bottom: 20px;
  text-decoration: none;
  border: none;
}

/* портфолио */

.texno {
  display: flex;
  position: absolute;

  width: 322px;
  height: 168px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;

  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto:hover .texno {
  opacity: 1;
}

.foto {
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.foto:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.margin-botton .container-wrap {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.item-portfolio {
  flex-basis: calc((100% - 90px) / 3);

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  height: 404px;
  /* margin-right: 30px; */
  margin-bottom: 30px;
}

.item-portfolio:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* 
.item-portfolio:nth-child(3n) {
  margin-right: 0;
} */

.section.wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

.container-button {
  justify-content: center;

  padding-bottom: 50px;
  padding-top: 94px;
}

.div {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

/* .text {
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  width: 370px; */

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-icon {
  margin-left: 70px;
}

.tekst-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: #ffffff;

  padding-bottom: 20px;
  padding-top: 72px;
  margin: 0;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.href-button.white {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  padding: 12px;
  display: flex;
  border: transparent;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.href-button.white:hover {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 1024px;
  background: rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 100%;
  max-width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: var(--accent-color);
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.e-mail-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 94px;

  background-color: transparent;
  padding: 0 20px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.e-mail-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.e-mail-label {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.btm-too {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: #ffffff;
}

.svg-btm-too {
  width: 24px;
  height: 24px;

  margin-left: 10px;
}

.div-footer-too {
  margin-left: 93px;
}

.footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.div-e-mail {
  padding-right: 12px;
}

.div-e-mail-btn {
  margin: 0;
  padding: 0;
}
.form-modal {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 0;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  font: inherit;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 14px;
  padding-left: 42px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-position-y: center;
  background-position-x: center;
}

.form-input:focus ~ .from-svg {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.texterea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.texterea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.texterea:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.from-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.div-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.visually:checked + .check-box {
  background-image: url(../images/galochka.svg);
  background-position-y: center;
  transform: translateY(50%);

  background-repeat: no-repeat;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);

  fill: #ffffff;
  border-radius: 2px;
  background-size: contain;
  background-origin: border-box;

  border: 0.2px;
}

.visually {
  appearance: none;
  position: absolute;
}

.label-check {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.a-check {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  display: inline-block;
  line-height: 0.85;
}
.check-box {
  position: absolute;
  background-image: url(../images/ramka.svg);
  width: 16px;
  height: 15px;
  left: 0;
  bottom: 15px;
  transform: translateY(50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-btm {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  margin-left: 124px;
  color: #ffffff;
}
